recursive-include ascender *.py
recursive-include awx *.py
recursive-include ascender *.py
recursive-include ascender/dab *.md
recursive-include ascender *.po
recursive-include ascender *.mo
recursive-include ascender/static *
recursive-include ascender/templates *.html
recursive-include ascender/api/templates *.md *.html *.yml
recursive-include ascender/ui/build *.html
recursive-include ascender/ui/build *
recursive-include ascender/playbooks *.yml
recursive-include requirements *.txt
recursive-include requirements *.yml
recursive-include licenses *
recursive-exclude ascender devonly.py*
recursive-exclude ascender/main/tests *
recursive-exclude ascender/settings local_settings.py*
include tools/scripts/request_tower_configuration.sh
include tools/scripts/request_tower_configuration.ps1
include tools/scripts/automation-controller-service
include tools/scripts/rsyslog-4xx-recovery
include tools/scripts/awx-python
include tools/sosreport/*
include Makefile
prune ascender/projects
