.ascender-lookup__chip-holder {
  --pf-v6-c-form-control--Height: auto;
  min-height: 37px;
  display: flex;
  align-items: center;
}

.ascender-lookup__chip-holder--disabled {
  background-color: var(--pf-t--global--text--color--disabled);
}
