#page-sidebar {
  line-height: 10px !important;
}

#page-sidebar .pf-c-nav__link {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

body {
  font-family: "Open SansVariable", sans-serif;
}
