engine-strict = true
@ctrliq:registry=https://npm.pkg.github.com
# - generate a new GitHub token (classic) with the read:packages scope (https://github.com/settings/tokens/new)
# - copy the token and set it as an environment variable in your shell
# export NPM_TOKEN=ghp_your_token_here
# (you can also add it to your ~/.bashrc, ~/.zshrc, etc. if you want it to be persistent)
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}